@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: normal;
}
