.modal {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.sign__container {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.draw-image {
    width: 220px;
    margin: 100px auto 30px;
    display: block;
}

.close-icon {
    position: absolute;
    right: 25px;
    top: 25px
}

.sign__container h2 {
    line-height: 33px;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}
.sign__form {
    margin: 0 12px;
    border-bottom-style: solid;
    border-bottom-color: #DEDBF1;
    border-bottom-width: 1px;
}
.sign__form__input {
    height: 44px;
    display: block;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-color: #D0CDE1;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}
.sign__form__input::placeholder{
    color: #A3A0B1;
    font-size: 14px;
    line-height: 16px;
}

.sign__form__button {
    height: 51px;
    width: 100%;
    border-radius: 6px;
    border-style: none;
    margin: 10px 0 40px 0;
    background-color: #61A199;
    color: #FFFFFF;
    font-size: 16px;
}

.reg-link {
    color: #61A199;
    margin-top: 30px;
    font-size: 14px;
}

@media screen and (min-width: 769px) {
    .sign__container {
        width: 500px;
        height: 668px;
    }
    .draw-image {
        width: 300px;
        margin: 60px auto 30px;
        display: block;
    }
    .sign__container h2 {
        line-height: 38px;
        font-size: 32px;
        margin-bottom: 40px;
    }
    .sign__form {
        width: 350px;
        margin: 0 auto;
    }
    .sign__form__button {
        width: 126px;

    }

}
